/**
 * Global Reset of all HTML Elements
 *
 * Resetting all of our HTML Elements ensures a smoother
 * visual transition between browsers. If you don't believe me,
 * try temporarily commenting out this block of code, then go
 * and look at Mozilla versus Safari, both good browsers with
 * a good implementation of CSS. The thing is, all browser CSS
 * defaults are different and at the end of the day if visual
 * consistency is what we're shooting for, then we need to
 * make sure we're resetting all spacing elements.
 *
 */
html,
body {
  border: 0;
  font-family: "Helvetica-Neue", "Helvetica", Arial, sans-serif;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}
div,
span,
object,
iframe,
img,
table,
caption,
thead,
tbody,
tfoot,
tr,
tr,
td,
article,
aside,
canvas,
details,
figure,
hgroup,
menu,
nav,
footer,
header,
section,
summary,
mark,
audio,
video {
  border: 0;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
address,
cit,
code,
del,
dfn,
em,
ins,
q,
samp,
small,
strong,
sub,
sup,
b,
i,
hr,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
legend,
label {
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
}
article,
aside,
canvas,
figure,
figure img,
figcaption,
hgroup,
footer,
header,
nav,
section,
audio,
video {
  display: block;
}
table {
  border-collapse: separate;
  border-spacing: 0;
}
table caption,
table th,
table td {
  text-align: left;
  vertical-align: middle;
}
a {
  color: white;
  text-decoration: none;
  /* no underline */
}
a img {
  border: 0;
}
:focus {
  outline: 0;
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(https://fonts.gstatic.com/s/lato/v15/S6uyw4BMUTPHjx4wWw.ttf) format('truetype');
}
@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Work Sans'), local('WorkSans-Regular'), url(https://fonts.gstatic.com/s/worksans/v4/QGYsz_wNahGAdqQ43Rh_fKDs.ttf) format('truetype');
}
header nav {
  max-width: 1000px;
  margin: 20px auto;
  display: flex;
  color: #ffffff;
  background-color: "#FFFFFF00";
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 1000px) {
  header nav {
    max-width: 980px;
  }
}
@media screen and (max-width: 800px) {
  header nav {
    max-width: px;
  }
}
@media screen and (max-width: 400px) {
  header nav {
    max-width: auto;
    margin: 20px 20px;
  }
}
header nav .nav-item:hover {
  text-decoration: underline;
}
@media screen and (max-width: 600px) {
  header nav .nav-item {
    display: none;
  }
  header nav .nav-item:first-child {
    display: inline-block;
  }
  header nav .nav-item:last-child {
    display: flex;
  }
}
.main-content {
  display: flex;
  flex-direction: column;
}
.main-content .top-content h1 {
  width: 80%;
}
.main-content .content-item {
  max-width: 1000px;
  margin: 100px auto;
  display: inherit;
  flex-direction: column;
  vertical-align: middle;
}
@media screen and (max-width: 1000px) {
  .main-content .content-item {
    max-width: 980px;
  }
}
@media screen and (max-width: 800px) {
  .main-content .content-item {
    max-width: px;
  }
}
@media screen and (max-width: 400px) {
  .main-content .content-item {
    max-width: auto;
    margin: 100px 20px;
  }
}
.main-content .content-item .content-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 100px;
}
.main-content .content-item .content-box .second-item {
  width: 30%;
  height: 100%;
}
.main-content .content-item .content-box .first-item {
  width: 60%;
}
.main-content .content-item .content-box:last-child {
  margin: 0;
}
.main-content ul {
  list-style-type: none;
}
.main-content li {
  font-size: 24px;
  margin: 40px 0;
}
footer {
  display: flex;
  background-color: darkslategrey;
}
footer div {
  max-width: 1000px;
  margin: 50px auto;
  margin-top: 160px;
  display: flex;
  width: 100%;
  justify-content: space-between;
}
@media screen and (max-width: 1000px) {
  footer div {
    max-width: 980px;
  }
}
@media screen and (max-width: 800px) {
  footer div {
    max-width: px;
  }
}
@media screen and (max-width: 400px) {
  footer div {
    max-width: auto;
    margin: 50px 20px;
  }
}
footer .logo-name {
  display: flex;
  align-items: flex-end;
  font-size: 80px;
}
footer .logo-name img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}
html {
  background-color: #020515;
  color: #ffffff;
  font-family: 'Work Sans', sans-serif;
}
.container {
  display: flex;
  flex-direction: column;
}
h1 {
  font-size: 50px;
}
h2 {
  font-size: 30px;
}
h3 {
  font-size: 20px;
}
h4 {
  font-size: 18px;
}
h5 {
  font-size: 24px;
}
h6 {
  font-size: 16px;
  font-weight: 600;
}
.button {
  display: flex;
  justify-content: center;
  border: 2px solid #17b363;
  color: #17b363;
  margin: 40px 0;
  padding: 20px 20px;
  text-align: center;
  width: 30%;
}
.button:hover {
  text-decoration: underline;
}
#alt-background {
  background-color: #ffffff;
  color: #020515;
}
