.main-content
{
    display: flex;
    flex-direction: column;
}
    .top-content
    {
        h1
        {
            width: 80%;
        }
    }
    .content-item
    {
        .center(100px);
        display: inherit;
        flex-direction: column;
        .content-box
        {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 100px;
            @media screen and (max-width: 750px) 
            {
                display: block;
            }
            .second-item
            {
                width: 30%;
                height: auto;
                @media screen and (max-width: 750px) 
                {
                    width: 100%;
                    height: auto;
                    margin: 0;
                }
            }
            .first-item
            {
                width: 60%;
                @media screen and (max-width: 750px) 
                {
                    width: 100%;
                    height: auto;
                    margin: 0;
                }
            }
        }
        .content-box:last-child
        {
            margin: 0;
        }
        a
        {
            color: @deforestation-dashboard-color-gray-green
        }
        .highlight
        {
            color: @deforestation-dashboard-color-gray;
        }
    }
    ul
    {
        list-style-type: none;
    }
    li
    {
        font-size: 24px;
        margin: 40px 0;
    }