header
{
    nav
    {
        .center(20px);
        display: flex;
        color: @deforestation-dashboard-color-primary;
        background-color: "#FFFFFF00";
        justify-content: space-between;
        align-items: center;
        
        .nav-item
        {
            &:hover
            {
                text-decoration: underline;
            }
        }
        @media screen and (max-width: 750px) 
        {
            .nav-item
            {
                display:none;
            }
            .nav-item:first-child
            {
                display: inline-block;
            }
            

            .nav-item:last-child, .nav-item:nth-last-child(2)
            {
                display: flex;
                background-color: blue;
            }
        }
    }
    
}
.top-nav
{
    width: 0%;
    height: 0%;
    opacity: 0;
    transition: opacity 0.75s linear;
}
.sticky
{
    .center(20px);
    align-items: center;
    justify-content: space-between;
    background-color: #000000AA;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
    width: 100%;
    padding: 20px;
    opacity: 1;
}